body {
  font-family: sans-serif;
}

#blog-post {
  margin: 40px auto;
  border-radius: 15px;
  width: 500px;
  background-color: rgb(85, 83, 153);
  padding: 30px;
}

.comment {
  background-color: rgb(190, 210, 216);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  display: inline-flex;
}
